.bg-admin-logo{
	height: 50px;
	background-color: #00B7EC;
}

.admin-logo{
	height: 25px;
	width: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 30px;
}

.list-menu{
	height: 15px;
	width: auto;
}

.header{
	background-color: #ffffff;
	height: 50px;
}

.menu-bar-right, .menu-bar-left{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.menu-bar-right{
	float: right;
}

.menu-bar-left{
	float: left;
}

.logout-logo{
	height: 10px;
}

.main-background{
	background-color: #f2f2f2;
	min-height: 650px;
}

.dashboard-content{
	padding: 10px;
}

.welcome-text{
	padding-left: 20px;
	margin-bottom: 10px;
}

.bg-four-block{
	width: 250px;
	height: 100px;
	background-color: #ffffff;
	margin: auto;
}

.bg-chart{
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
}

#chartdiv {
    width   : 100%;
    height  : 500px;
}